.offcanvas{
  width: 35%;
}
.nav-tabs>.nav-item{
  list-style:none;
  border-top:0!important;
  border-bottom: 0 !important;
}
.workspace-toggler-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.nav-tabs>.nav-item:hover{
  transition: none!important;
  box-shadow: none!important;
}

@media only screen and (max-width: 900px){
  .offcanvas{
    width:100%
  }
}