// ** Journal
.journal-tour-step-1 {
  min-width: 800px !important;
  margin-left: 13px !important;
}
.journal-tour-step-2 {
  margin-left: 13px !important;
}
.journal-tour-step-3 {
  min-width: 450px !important;
  margin-right: 13px !important;
}
.journal-tour-step-5 {
  min-width: 450px !important;
  margin-left: 13px !important;
}

// ** Task
.task-tour-step-1 {
  min-width: 820px !important;
  margin-left: 13px !important;
}
.task-tour-step-2 {
  margin-left: 13px !important;
}
.task-tour-step-3 {
  min-width: 450px !important;
  margin-right: 13px !important;
}
.task-tour-step-4 {
  min-width: 820px !important;
  margin-right: 13px !important;
}
.task-tour-step-5 {
  margin-left: 13px !important;
}
.task-tour-step-6 {
  margin-right: 13px !important;
}
.task-tour-step-7 {
  margin-right: 13px !important;
}

// ** Goals
.goal-tour-step-1 {
  min-width: 740px !important;
  margin-left: 13px !important;
}
.goal-tour-step-2 {
  margin-left: 13px !important;
}
.goal-tour-step-3 {
  min-width: 495px !important;
  margin-right: 13px !important;
}
.goal-tour-step-4 {
  min-width: 455px !important;
}
.goal-tour-step-5 {
  min-width: 470px !important;
}
.goal-tour-step-6 {
  min-width: 605px !important;
  margin-right: 13px !important;
}
.goal-tour-step-7 {
  min-width: 440px !important;
}
.goal-tour-step-8 {
  min-width: 562px !important;
}
// ** Forms and Funnels
.formsnfunnels-tour-step-1 {
  min-width: 800px !important;
  margin-left: 13px !important;
}
.formsnfunnels-tour-step-2 {
  margin-left: 13px !important;
}
.formsnfunnels-tour-step-3 {
  min-width: 450px !important;
  margin-right: 13px !important;
}
.formsnfunnels-tour-step-5 {
  min-width: 450px !important;
  margin-left: 13px !important;
}

// ** My Shop
.myShop-tour-step-1 {
  margin-left: 13px !important;
}
.myShop-tour-step-2 {
  margin-left: 13px !important;
}
.myShop-tour-step-3 {
  margin-right: 13px !important;
}
.myShop-tour-step-4 {
  margin-right: 13px !important;
}
.myShop-tour-step-5 {
  margin-left: 13px !important;
}

// ** Invoice
.invoice-tour-step-1 {
  margin-left: 13px !important;
}
.invoice-tour-step-2 {
  margin-left: 13px !important;
}
.invoice-tour-step-3 {
  margin-right: 13px !important;
}
.invoice-tour-step-4 {
  margin-right: 13px !important;
}
.invoice-tour-step-5 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.invoice-tour-step-6 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.invoice-tour-step-7 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.invoice-tour-step-8 {
  margin-right: 13px !important;
}
.invoice-tour-step-9 {
  margin-right: 13px !important;
}
.invoice-tour-step-10 {
  margin-right: 13px !important;
}
.invoice-tour-step-10 {
  margin-right: 13px !important;
}

// ** Products
.products-tour-step-1 {
  margin-left: 13px !important;
}
.products-tour-step-2 {
  margin-left: 13px !important;
}
.products-tour-step-3 {
  margin-right: 13px !important;
}
.products-tour-step-4 {
  margin-right: 13px !important;
}
.products-tour-step-5 {
  margin-left: 13px !important;
}

// ** Memberships
.memberships-tour-step-1 {
  margin-left: 13px !important;
}
.memberships-tour-step-2 {
  margin-left: 13px !important;
}
.memberships-tour-step-3 {
  margin-right: 13px !important;
  margin-bottom: 13px !important;
}
.memberships-tour-step-4 {
  margin-right: 13px !important;
  margin-bottom: 13px !important;
}
.memberships-tour-step-5 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}

// ** Courses
.courses-tour-step-1 {
  margin-left: 13px !important;
}
.courses-tour-step-2 {
  margin-left: 13px !important;
}
.courses-tour-step-3 {
  margin-right: 13px !important;
  margin-bottom: 13px !important;
}
.courses-tour-step-4 {
  margin-right: 13px !important;
  margin-bottom: 13px !important;
}
.courses-tour-step-5 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}

// ** Coupons
.coupons-tour-step-1 {
  margin-left: 13px !important;
}
.coupons-tour-step-2 {
  margin-right: 13px !important;
}
.coupons-tour-step-3 {
  margin-right: 13px !important;
  margin-bottom: 13px !important;
}
.coupons-tour-step-4 {
  margin-right: 13px !important;
  margin-bottom: 13px !important;
}

// ** Setting
.setting-tour-step-1 {
  margin-left: 13px !important;
}
.setting-tour-step-2 {
  margin-left: 13px !important;
}
.setting-tour-step-3 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.setting-tour-step-4 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.setting-tour-step-5 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.setting-tour-step-6 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.setting-tour-step-7 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.setting-tour-step-8 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}

// ** Finance/Income
.income-tour-step-1 {
  min-width: 400px !important;
  margin-left: 13px !important;
}
.income-tour-step-2 {
  margin-left: 13px !important;
}
.income-tour-step-3 {
  margin-right: 13px !important;
}
.income-tour-step-4 {
  margin-right: 13px !important;
}
.income-tour-step-5 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.income-tour-step-6 {
  margin-left: 13px !important;
}
.income-tour-step-6 {
  margin-right: 13px !important;
  margin-bottom: 13px !important;
}

// ** Finance/Expense
.expense-tour-step-1 {
  min-width: 400px !important;
  margin-left: 13px !important;
}
.expense-tour-step-2 {
  margin-left: 13px !important;
}
.expense-tour-step-3 {
  margin-right: 13px !important;
}
.expense-tour-step-4 {
  margin-right: 13px !important;
}
.expense-tour-step-5 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.expense-tour-step-6 {
  margin-left: 13px !important;
}
.expense-tour-step-6 {
  margin-right: 13px !important;
  margin-bottom: 13px !important;
}

// ** Setting/Security
.security-tour-step-1 {
  min-width: 400px !important;
  margin-left: 13px !important;
}
.security-tour-step-2 {
  margin-top: 13px !important;
}
.security-tour-step-3 {
  margin-bottom: 13px !important;
}
.security-tour-step-4 {
  margin-right: 13px !important;
}
.security-tour-step-5 {
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}

// ** Employee/Work History
.workhistory-tour-step-4 {
  top: 70% !important;
}
