  //new css for content-wrapper
  .list-group-item.active.card .facebookpagename, h6 {
    color: #fff;
  }
  
  .circle-bx {
    width: 38px;
    height: 38px;
    text-align: center;
    border: 1px solid#cccc;
    padding: 10px 10px;
    margin-left: 36px;
    border-radius: 100%;
    background:#cccc ;
  }
  div#TooltipExampposted {
    padding: 4px 9px;
  }
  button.kep-login-facebook.metro {
    width: 100%;
  }
  .card.p-2.rtt-3 {
    width: 100%;
    display: inline-block;
  }
  [dir] button.composebtn.btn.btn-success {
    padding: 10px 30px;
  }
  
  button.dropdownworkspacemain.dropdown-item {
    width: 100%;
  }
  .comment.textbox.card-body {
      margin-top: -10px;
    overflow-y: scroll;
    height: 250px;
  }
  .comments {
    margin-left: 22px;
    margin-bottom: 0px;
  }
  span.headingcustomdate {
    border-color: #11101024 !important;
     padding: 3px 30px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 12px;
  }
  .calender_heading {
    border-radius: 6px;
    border: 1px solid grey;
    padding: 0px 12px;
    border-color: #e2e2e2;
    margin-top: 5px;
  }
  
  span.badgecustomcalender.badge.bg-primary {
    margin-bottom: 8px;
    margin-top: 6px;
  }
  
  .drodownworksmenu.dropdown-menu.show {
    overflow-y: scroll;
    height: 280px !important;
  }
  .card.p-2.rtt-3 {
    padding: 15px !important;
  }
  ul.justify-content-center.mb-0.mt-0.nav.nav-tabs {
  
    margin-top: -11px !important;
  }
  
  .userimagemainrow.row {
    margin-bottom: -8px !important;
  }
  p.font-s.momentdate {
    font-size: 12px;
    font-weight: 300;
  }
  span.useremail {
    font-size: 17px;
  }
  a.commenttext {
    font-size: 15px;
  }
  h6.logo {
    margin-top: 4px;
    margin-bottom: -1px;
  }
  span.badgecustomcalender.mx-1.badge.bg-secondary {
    font-size: 11px;
  }
  
  .drodownworksmenu.dropdown-menu.show {
    overflow-y: scroll;
    height: 280px !important;
  }
  .card.p-2.rtt-3 {
    padding: 15px !important;
  }
  ul.justify-content-center.mb-0.mt-0.nav.nav-tabs {
  
    margin-top: -11px !important;
  }
  
  .userimagemainrow.row {
    margin-bottom: -8px !important;
  }
  p.font-s.momentdate {
    font-size: 12px;
    font-weight: 300;
  }
  span.useremail {
    font-size: 17px;
  }
  a.commenttext {
    font-size: 15px;
  }
  h6.logo {
    margin-top: 4px;
    margin-bottom: -1px;
  }
  
  .allSocialmediamodla.row {
    padding: 6px 71px;
  }
  h4.gridview {
    color: #000000;
    font-size: 15px;
  }
  h4.datashow {
    font-size: 11px;
  }
  
  svg.trashcutomemain {
    width: 16px;
      margin-right: 6px;
  }
  
  .w-90\%.shadow.bg-white.rounded.connectsocialmediprofile {
    height: 100%;
    overflow-y: scroll;
  }
  svg.me-1.checkcirclecustom:hover {
    color: blue;
  }
  svg.clockscheduelpost:hover {
    color: blue;
  }
  
  a.facebook.nav-link {
    padding: 9px !important;
    padding-bottom: 15px !important;
  }
  .addfbpage {
    padding: 17px 36px;
  }
  
  
  // 03/04/2023
  input#customcalenderdta {
    border: none;
  
  }
  .ml-1.profilename {
    margin-left: 12px;
  }
  .comt-list ul li {
    list-style: none;
  }
  span.postbtn.badge.bg-primary {
   
    margin-top: 9px;
  }
  span.postbtn.badge.bg-secondary {
   
    margin-top: 9px;
  }
  h5.createdtimeworkapce {
    width: 100%;
    margin-left: 11px;
    font-size: 12px !important;
  }
  div#TooltipExampposted {
    background: blue;
  }
  
  .spinnercustom.spinner-border-lg.spinner-border {
    color: green;
    width: 45px;
    height: 45px;
  }
  span.visually-hidden {
    visibility: visible;
  }
  
  button#TooltipExamp {
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 100%;
    padding: 8px;
  }
  button#TooltipExample {
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 100%;
    padding: 8px;
  }
  
  .commetsnow {
    margin-top: 12px;
    border-radius: 27px;
    background: #c3bcbc29;
  }
  .rowofcomment.row {
  
      padding: 14px 25px;
  
  }
  span.companyname.justify-content-start {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
  }
  span.commetnshereyour {
    font-size: 13px;
    font-weight: 400;
  }
  
  button#TooltipExamplegrid {
    border-radius: 100%;
    width: 34px;
    border: none;
    background: none;
  }
  
  button#TooltipExampstatus {
    background: none;
    border: none;
  }
  button#TooltipExampsync {
    border: none;
    background: none;
  }
  b.titleofevent {
    margin-left: 4px;
   
  }
  
  span.facebookpagenam {
    font-size: 12px;
    padding: 1px 18px;
  }
  
  .d-flex.justify-content-center.connedtedpage {
    font-weight: 500;
    margin-top: 3px;
  }
  .mt-1.mainconnected.card {
    box-shadow: 3px 3px 10px 1px #2852b542;
  }
  // span.deletemain {
  //   margin-top: 10px;
  //   padding: 8px;
  // }
  button.circle-bx.deletebuttoncompose {
    padding: 3px 8px;
    height: 35px;
    width: 35px;
  }
  .datamaincopose.card-body {
    padding: 29px 26px;
  }
  
  