@import '../../@core/scss/base/bootstrap-extended/include';
@import '../../@core/scss/base/components/include';

.gjs-pn-panels {
  display: none;
}

.gjs-mdl-dialog {
  max-width: 1200px;
  width: 80%;
}

.gjs-editor-cont {
  height: calc(100vh - 117px);
}

.gjs-field-replace-image {
  border: none;
}

.trait-image-url {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-image-list {
  margin-top: 10px;
  margin-left: 10px;
  overflow-y: scroll;
  max-height: 200px;
}

.gallery-view-footer {
  margin-top: 20px;
}

.item-change-element {
  display: flex;
  justify-content: space-around;
}

.trait-image-btn {
  width: 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-image-item {
  margin: 2px;
}

#select-btn,
#cancel-btn {
  min-width: 100px;
}

.navbar {
  max-height: 110px;
  width: 100%;
  background-color: white;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  span {
    padding: 5px;
    color: white;

    &:hover {
      // background-color: #e4e4e4;
      cursor: pointer;
    }
  }

  .hover-bg {
    &:hover {
      background-color: #e4e4e4;
      cursor: pointer;
    }
  }

  .menu-icon {
    margin-left: 5px;
    margin-right: 5px;
  }

  .up-navbar {
    width: 100%;
    padding: 8px;
    border: 1px solid #b8b8b8;
    // background-color: black;

    .logo {
      // padding:10px;
      width: 150px;
      border-right: 1px solid #b8b8b8;

      .title {
        font-weight: bold;
        font-size: medium;
        font-size: medium;
        color: black;
      }
    }

    .menu-bar {
      width: 50%;

      // padding:10px;
      .menu-item {
        // padding-left: 20px;
        // padding-right: 20px;
        color: black;
      }
    }

    .hover-effect {
      &:hover {
        color: #0275d8;
        cursor: pointer;
      }
    }

    .menu-item {
      margin-right: 10px;
    }
  }

  .down-navbar {
    width: 100%;
    border: 1px solid #b8b8b8;

    .feature-icons {
      // padding:10px;
      width: 35%;
      height: 52px;
      border-right: 1px solid #b8b8b8;
      justify-content: space-around;

      .feature-show {
        display: none;
        position: relative;

        >div {
          position: absolute;
          display: flex;
          background: white;
          z-index: 100;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          padding: 3px;
          border-radius: 5px;

          >span {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      @media (max-width: 1024px) {
        width: 100px;

        .feature-show {
          display: block;
        }

        .feature-hide {
          display: none;
        }
      }
    }

    .home-pages {
      width: 10%;
      height: 52px;
      min-width: 110px;
      border-right: 1px solid #b8b8b8;
    }

    .devices-icons {
      height: 52px;
      width: 15%;
      border-right: 1px solid #b8b8b8;

      @media (max-width: 1024px) {
        width: 25%;
      }

      @media (max-width: 850px) {
        width: 100%;
      }
    }

    .devices-size {
      height: 52px;
      width: 15%;
      min-width: 160px;
      border-right: 1px solid #b8b8b8;
    }

    .zoom-size {
      height: 52px;
      width: 35%;
      position: relative;

      .zoom-show {
        display: none;
      }

      @media (max-width: 850px) {
        width: 80px;

        >div {
          display: none !important;
        }

        .zoom-hide {
          display: flex !important;
          position: absolute;
          background-color: white;
          bottom: -50px;
          z-index: 100;
          padding: 3px;
          right: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 5px;
          width: 320px !important;
        }

        .zoom-show {
          display: block;
        }
      }
    }
  }
}

.land-body {
  height: calc(100vh - 110px);
}

#editor {
  overflow: scroll;
}

.editor-content {
  width: 100%;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #dddddd;
}

.sidebar {
  width: 100px;

  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;

    &:hover {
      background-color: #e4e4e4;
      cursor: pointer;
    }

    .menu-content {
      font-size: 10px;
      text-align: center;
    }
  }
}

.expanded-sidebar {
  z-index: 10;
  border: 1px solid #e4e4e4;
  background-color: white;
  position: absolute;
  height: calc(100vh - 115px);
  // min-width: 200px;

  .expanded-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    padding: 15px;
    color: black;
    font-weight: bold;

    .header-icon {
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  .expanded-content {
    height: calc(100vh - 170px);

    .element-card {
      border-radius: 6px;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #e4e4e4;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      font-size: 12px;
      color: black;

      &:hover {
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
}

.style-sidebar {
  width: 400px;
  max-height: calc(100vh - 110px);
}

.layer-sidebar {
  min-width: 400px;
  max-height: calc(100vh - 110px);

  .layer-item {
    margin-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

.trait-sidebar {
  width: 400px;
  max-height: calc(100vh - 110px);
}

.page-sidebar {
  max-height: calc(100vh - 110px);
  width: 300px;

  .page-item {
    padding: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

#blocks {
  height: 100%;

  .gjs-blocks-c {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;

    .gjs-block {
      border-radius: 6px;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #e4e4e4;
      width: 105px;
      height: 105px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      font-size: 12px;
      color: black;

      &:hover {
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }

  .submenu-and-element {
    height: 100%;
  }

  .quick-add {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 5px;
    color: black;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .submenu-list {
    min-width: 150px;
    padding-top: 10px;

    .submenu-item {
      padding: 5px;
      padding-left: 15px;
      color: black;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .submenu-category {
      color: black;
      padding-right: 15px;
      padding-left: 25px;
      padding-top: 8px;
      padding-bottom: 8px;

      &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
      }
    }

    .selected-submenu-category {
      color: blue;
      background-color: #dce9ff;
      padding-right: 15px;
      padding-left: 25px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .element-container {
    height: 100%;
    border-left: 1px solid #ccc;

    .element {
      position: relative;
      margin: 10px;
      margin-bottom: 0px;
      padding-bottom: 10px;
      justify-content: center;
      border-bottom: 1px solid #eee;

      &:hover {
        cursor: pointer;
      }

      div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px dashed #174ae7;
  border-radius: 0.357rem;
}

.property-sidebar {
  background-color: white;

  #selector-manager-container {
    width: 300px;
    max-width: 300px;
  }

  #style-manager-container {
    width: 300px;
    max-width: 300px;
    max-height: calc(100vh - 110px);
  }

  #layer-manager-container {
    width: 300px;
    max-width: 300px;
    max-height: calc(100vh - 110px);
  }

  #trait-manager-container {
    width: 300px;
    max-width: 300px;
    max-height: calc(100vh - 110px);
  }
}

.trait-social-link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.trait-social-bar {
  background-color: #fff;
}

.trait-social-link-item-detail {
  margin-left: 10px;
}

.trait-new-social-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.trait-new-social-link__name,
.trait-new-social-link__url,
.trait-new-social-link__icon {
  border: 1px solid grey !important;
  border-radius: 3px;
  margin-bottom: 3px;
}

.trait-new-social-link-add-btn {
  padding: 7px;
  min-width: 80px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #0275d8;
}

[class|='trait-social-link-delete'] {
  font-size: 14px;
  background-color: none;
  border: none;
  color: gray;
  border-radius: 3px;
}

.select-image-modal {
  display: flex;
  flex-direction: row;
}

.select-image-upload-image {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.select-image-view-image {
  width: 60%;
  padding: 10px;
}

.drop-file-panel {
  width: 100%;
  height: 100px;
  border: 1px dashed;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trait-new-social-link__icon-btn {
  padding: 5px;
}

.select-main-menu,
.select-sub-menu,
.input-category {
  border-radius: 5px;
  padding: 10px;
}

.category-options {
  max-height: 200px;
}

.category-option {
  padding-top: 5px;
  padding-bottom: 5px;
}

.save-component-btn {
  width: 150px;
  margin-top: 10px;
}

.mdl-select-main-menu-label,
.mdl-select-sub-menu-label,
.mdl-input-category-label,
.mdl-select-file-label {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.cms-menu-item {
  &:hover {
    background-color: #e7f0ff;
    cursor: pointer;
  }

  .cms-menu-icon {
    color: #63aeee;

    &:hover {
      background-color: #63aeee;
      color: #fff;
      border-radius: 50%;
    }
  }
}

.collection-sel-type {
  &:hover {
    border-color: #a0c5ff;
    cursor: pointer;
  }
}

.collection-table-header {
  padding: '3px 20px 3px 20px';
  border-right: '1px solid #cbdfff';
  border-bottom: '1px solid #cbdfff';
  background-color: '#e7f0ff';
}

.collection-table-body {
  padding: '3px 20px 3px 20px';
  border-right: '1px solid #cbdfff';
  border-bottom: '1px solid #cbdfff';
}

.item-to-connect {
  &:hover {
    background-color: #eaf1fb;
  }
}

.trait-date-date,
.trait-date-time {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trait-date-input-year,
.trait-date-input-month,
.trait-date-input-date,
.trait-date-input-hour,
.trait-date-input-min,
.trait-date-input-sec {
  width: 50px !important;
  border: 1px solid gray !important;
  border-radius: 3px;
}

.trait-cycle-select,
.trait-start-time-input,
.trait-end-time-input,
.trait-time-zone-select,
.trait-end-date-input,
.popup-page-select,
.monthly-day-input {
  border: 1px solid grey !important;
  border-radius: 3px;
  margin-bottom: 3px;
  font-size: 12px;
}

.trait-popup-start-time {
  margin-right: 5px;
}

.trait-popup-end-time {
  margin-left: 5px;
}

.flatpickr-input {
  border: 1px solid gray !important;
  border-radius: 3px;
}

.rdw-editor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid lightgray;
  background: white;
}

.rdw-editor-main {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-top: none;
}

.post-description {
  padding: 10px;
  border: 1px solid lightgray;
}

.gjs-field-page-link {

  .trait-link-element-label,
  .trait-page-setting,
  .trait-tab-selection,
  .trait-pages-selection {
    margin-bottom: 10px;
    border: 1px solid lightgrey;
  }

  .trait-input-address {
    display: none;
    border: 1px solid lightgrey;
  }

  .trait-tab-selection {
    display: none;
  }
}

.swal2-confirm {
  min-width: 90px;
}

.cms-sidebar {
  .submenu-category {
    color: black;
    padding-right: 15px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }

  .selected-submenu-category {
    color: blue;
    background-color: #dce9ff;
    padding-right: 15px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.collection-item {
  .more-dropdown {
    display: none;
  }

  &:hover {
    cursor: pointer;

    .more-dropdown {
      display: block;
    }
  }
}

.preset-item {
  &:hover {
    cursor: pointer;
  }
}

.trait-menu-item-link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.trait-new-menu-item-link {
  padding-left: 10px;
  padding-right: 10px;
}

.trait-new-menu-item {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.trait-new-menu-item-label {
  font-size: 14px;
}

.trait-menu-item-link-delete {
  border: none;
}

.trait-new-menu-item-pagelink,
.trait-new-menu-item-link__name {
  border: solid 1px !important;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.trait-new-menu-item-link-add-btn {
  width: 100px;
  align-self: center;
}


.gjs-rte-action {
  width: inherit !important;
  min-width: 25px;
}

.gallery-image-hover-effect,
.gallery-product-display-style,
.gallery-button-style,
.product-page-align-style {
  .hover-list {
    grid-template-columns: repeat(3, 1fr);

    .hover-item {
      width: 70px;

      .item-bg {
        border-radius: 4px;
        background-color: #e7f0ff;
        overflow: hidden;
        width: 100%;
        height: 100%;

        &.selected {
          background-color: #116dff;
        }
      }

      &:hover {
        .item-bg {
          background-color: #d6e6fe;

          &.selected {
            background-color: #116dff;
          }
        }
      }
    }
  }

  .align-list {
    .hover-item {
      width: 35px;
      height: 35px;
    }
  }
}

.theme-colors-container {
  width: 200px;
}

.theme-color-item {
  padding: 10px
}

.theme-color-panel {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;

  .color-picker-element {
    padding: 3px;
    border-radius: 0px;
    border: none;
  }
}

.padding-item {
  padding: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
}

.submenu-item {
  &:hover {
    cursor: pointer;
  }
}

.color-outline-element {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  margin-right: 7px;
  cursor: pointer;

  .color-item {
    width: 22px;
    height: 22px;
    border: 1px solid lightgray;
  }

  &:hover {
    background-color: lightgray;
  }
}

.plus-item {
  border: 1px dashed lightgray;
}

.gallery-image-element {
  margin-top: 10px;
  margin-left: 10px;
  overflow-y: scroll;
  max-height: 500px;
}