@import '../../@core/scss/base/bootstrap-extended/include';
@import '../../@core/scss/base/components/include';

.gjs-pn-panels{
  display: none;
}
.gjs-mdl-dialog{
  max-width: 1200px;
  width: 90%;
}
.gjs-editor-cont{
  height: calc(100vh - 117px);
}
.navbar{
  max-height:110px;
  width: 100%;
  background-color: white;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  span{
    padding:5px;
    color: white;
    &:hover{
      // background-color: #e4e4e4;
      cursor: pointer;
    }  
  }
  .hover-bg{
    &:hover{
      background-color: #e4e4e4;
      cursor: pointer;
    }
  }
  
  .menu-icon{
    margin-left: 5px;
    margin-right: 5px;
  }
  .up-navbar {
    width: 100%;
    padding:8px;
    border:1px solid #b8b8b8;
    background-color: black;
    .logo{
      // padding:10px;
      border-right: 1px solid #b8b8b8;
      .title{
        font-weight: bold;
        font-size: medium;
        font-size: medium;
        color:black
      }
    }
    .menu-bar{
      width: 50%;
      // padding:10px;
      .menu-item{
        // padding-left: 20px;
        // padding-right: 20px;
        color:black;
      }
    }
    .hover-effect{
      &:hover{
        color:#0275d8;
        cursor: pointer;
      }
    }
    .additional-bar{
      width:20%
    }
    
  } 
  
  .down-navbar{
    width: 100%;
    border:1px solid #b8b8b8;
    .feature-icons{
      // padding:10px;
      width: 35%;
      height: 52px;
      border-right: 1px solid #b8b8b8;
    }
    .home-pages{
      width: 10%;
      height: 52px;
      border-right: 1px solid #b8b8b8;
    } 
    .devices-icons{
      height: 52px;
      width: 15%;
      border-right: 1px solid #b8b8b8;
    }
    .devices-size{
      height: 52px;
      width: 15%;
      border-right:1px solid #b8b8b8;
    }
    .zoom-size{
      height: 52px;
      width: 35%;
    }
  }
}

.land-body{
  height:calc(100vh - 110px);
}

.editor-content{
  width: 100%;
}

.sidebar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:12px;
}

.sidebar{
  width: 80px;
  .menu-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:black;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
    &:hover{
      background-color:#e4e4e4;
      cursor: pointer;
    }
    .menu-content{
      font-size: 10px;
      text-align: center;
    }
  }
}

.expanded-sidebar{
  z-index: 10;
  border:1px solid #e4e4e4;
  background-color: white;
  position: absolute;
  height: calc(100vh - 115px);
  .expanded-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    padding: 15px;
    color:black;
    font-weight: bold;
    .header-icon{
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  .expanded-content{
    margin-top: 25px;
    .element-card{
      border-radius: 6px;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #e4e4e4;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      font-size: 12px;
      color:black;
      &:hover{
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }

}

.style-sidebar{
  width: 400px;
  max-height: calc(100vh - 110px);
}

.layer-sidebar{
  min-width: 400px;
  max-height: calc(100vh - 110px);
  .layer-item{
    margin-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    &:hover{
      cursor:pointer;
    }
  }
}
.trait-sidebar{
  width: 400px;
  max-height: calc(100vh - 110px);
}
.page-sidebar{
  max-height: calc(100vh - 110px);
  width: 400px;
  .page-item{
    &:hover{
      cursor: pointer;
    }
  }
}

#blocks{
  .gjs-blocks-c{
    margin-top: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: auto auto auto;
    .gjs-block{
      border-radius: 6px;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #e4e4e4;
      width: 105px;
      height: 105px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      font-size: 12px;
      color:black;
      &:hover{
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }

}

.dropzone{
  display: flex;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px dashed #174ae7;
  border-radius: 0.357rem;
  width:300px;
  height: 300px;
}




