.multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.own-avatar-group {
  display: flex;
  justify-content: flex-start;
  // box-sizing: border-box;
  .own-avatar {
    margin-left: -10px;
  }
  :first-child {
    margin-left: 0px;
  }
}
