@import '../../../@core/scss/base/bootstrap-extended/include';
@import '../../../@core/scss/base/components/include';

.get-ticket-step {
  .modal-ticket-view {
    width: calc(100% - 240px);
    border-right: 1px solid #eeedf2;

    .ticket-component {
      padding: 16px 0px;
      border: 2px solid #eeedf2;
      border-radius: 8px;
      margin-bottom: 16px;
      max-width: 700px;
      width: 100%;

      .ticket-component-body {
        padding: 16px 0px 16px 16px;
      }
    }
    .selected {
      border: 2px solid #3659e3;
    }
    .warning {
      border: 2px solid #e33c36;
    }
    .ticket-component-header {
      padding: 0px 16px 16px 16px;
      border-bottom: 1px solid #eeedf2;
      align-items: center;
    }
    .ticket-view-container {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      overflow: auto;
      height: 100%;
      flex-grow: 1;
      .list-group .list-group-item {
        padding: 0.58rem 0.7rem;
        border: 0;
        font-weight: $font-weight-bold;
        letter-spacing: 0.4px;
        border-left: 2px solid transparent;
        border-radius: 0;
        cursor: pointer;
        .ws-name {
          max-width: 11.8rem;
          min-height: 1.8rem;
          cursor: pointer;
          &:hover {
            cursor: pointer;
          }
        }
        + .list-group-item.active {
          margin-top: 0;
        }
        &:hover {
          color: $primary;
          background: transparent;
        }
        &:focus,
        &.active {
          background: transparent;
          color: $primary;
          height: min-content !important;
          border-color: #174ae7;
        }
      }
    }
    .ticket-view-container-scroll {
      display: flex;
      flex-direction: column;
      padding: 24px;
      align-items: center;
      height: 100%;
      overflow: auto;
    }
  }
  .modal-content {
    .modal-body {
      height: 95%;
      max-height: 720px;
      padding: 0px;
    }
  }
  .modal-ticket-view-header {
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    min-height: 52px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    margin-top: 11px;
    border-bottom: 1px solid #eeedf2;
    padding: 16px;
    text-align: center;
  }
  .modal-ticket-view-footer {
    min-height: 76px;
    padding: 16px 24px;
    flex: none;
    border-top: 1px solid #eeedf2;
    display: flex;
    justify-content: flex-end;
  }

  .modal-ticket-order {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    .banner-image {
      height: 180px;
      width: 100%;
    }
    .order-container {
      flex-grow: 1;
      padding: 16px;
      font-size: 14px;
      line-height: 1.25rem;
    }
  }
  @media (min-width: 960px) {
    .modal-ticket-view {
      width: calc(100% - 360px);
    }
    .modal-ticket-order {
      max-width: 360px;
    }
  }

  @media (max-width: 650px) {
    .modal-ticket-view {
      width: 100%;
    }
    .modal-dialog {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      margin: 0px;
    }
    .modal-ticket-order {
      display: none;
    }
  }
}
