.smartlist-modal-data {
  .accordion .accordion-header .accordion-button {
    font-size: 14px;
    padding-inline-start: 0;
  }

  .form-label {
    font-size: 1rem;
  }

  .form-check-input {
    background-size: 65%;
  }
}
