// // This is style to overwrite grapesjs default styles
// // Please DO NOT import it anywhere else
@import '../../../@core//scss//base/bootstrap-extended/variables';

.gjs-cv-canvas {
  /* remove the right gap */
  width: 100%;

  /* remove the top gap */
  height: 100%;
  top: 0;
  overflow-x: hidden;
}

.gjs-one-bg {
  background-color: white;
}

.gjs-title {
  display: none;
}

.gjs-two-color,
.gjs-input-holder input,
.gjs-clm-tags-field,
.gjs-select,
.gjs-layer-vis {
  color: $gray-700;
}

.gjs-clm-tags-c,
#gjs-clm-states,
.gjs-field-units,
.gjs-clm-header-label,
.gjs-input-unit,
.gjs-field,
.gjs-clm-sels-info,
#gjs-clm-add-tag,
.gjs-layer-count,
.gjs-layer-move {
  color: $gray-700;
  font-family: Arial, Helvetica, sans-serif;
}
.gjs-clm-sel {
  font-size: 12px;

  .gjs-clm-sel-id {
    opacity: 1;
  }
}
.gjs-clm-sels-info{
  display: none !important
}
.gjs-clm-tag{
  margin-right: 10px !important;
}

#gjs-clm-tag-label {
  color: white;
}

.gjs-layer-name,
.gjs-sm-sector-label {
  font-weight: 600;
  color: black;
}
.gjs-input-holder > input[type='text'],
#gjs-sm-input-holder > select {
  color: $gray-700;
}

.gjs-sm-label {
  color: $gray-700;
  font-weight: 900;
}

.gjs-sm-sector {
  .gjs-sm-sector-title,
  .gjs-radio-item {
    &:hover{
      color: blue;
    }
    &:target{
      color: blue;
    }
    color: $gray-700;
  }
}
.cont-down-mobile{
  padding: 10px !important;
  display: block !important;
  align-items: center !important;
  justify-content: center !important;
  color: #000 !important;
  font-weight: bold !important;
  text-align: center !important;
}

.gjs-layer-title {
  background-color: white;
  color: $gray-700;
  font-size: 12px;
  padding: 5px;
}

.gjs-trt-traits {
  color: $gray-700;
  padding-top: 15px;
}

.gjs-label-wrp {
  color: $gray-700;
}

.gjs-block-label {
  font-size: 12px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  width: fit-content;
  padding-left: 3px;
}
.gjs-blocks-cs {
  width: 100%;
  color: $gray-700;
}

.gjs-blocks-c {
  justify-content: start !important;
  flex-wrap: nowrap !important;
}

.gjs-block {
  border: none;
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  text-align: start;
  min-height: auto;
  border: none;
  box-shadow: none;
  border-bottom: #174ae7 1px solid;
  border-radius: 0;
  flex-direction: row;
  padding: 5px;
}
.gjs-sm-sector-title {
  color: #4e5154;
  background: white !important;
  border-bottom: $main-border;
  border-top: $main-border;
}
.gjs-input-holder {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
}
.gjs-radio-item-label {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
}
.gjs-sm-properties {
  background: white !important;
  border: block !important;
}
.gjs-input-unit {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
}
.gjs-label {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
}
.gjs-clm-header-label {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
}
.gjs-clm-label-sel {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
}
#gjs-clm-label{
  position: absolute;
  visibility: hidden;
}
#gjs-clm-label::before{
  content: 'CSS';
  visibility: visible;
}
[dir] .gjs-select option, [dir] .gjs-field-select option, [dir] .gjs-clm-select option, [dir] .gjs-sm-select option, [dir] .gjs-fields option, [dir] .gjs-sm-unit option {
  background-color: white;
}
[dir=ltr] .gjs-field .gjs-d-s-arrow{
  border-left: 3px solid rgba(0,0,0,0);
  border-right: 4px solid rgba(0,0,0,0);
}
[dir] .gjs-field .gjs-d-s-arrow {
  margin: auto;
  border-top: 4px solid #4e5154;
  cursor: pointer;
}
.gjs-field-arrow-u {
  border-bottom: 4px solid #4e5154;
  border-top: none;
}
 .gjs-field-arrow-u,  .gjs-field-arrow-d {
  border-left: 3px solid transparent;
  border-right: 4px solid transparent;
}
 .gjs-field-arrow-u,.gjs-field-arrow-d {
  border-left: 3px solid transparent;
  border-right: 4px solid transparent;
}
.gjs-field-arrow-d {
  border-top: 4px solid #4e5154;
  cursor: pointer;
}

 .gjs-sm-unit option {
  background-color: white;
}
.gjs-select option, .gjs-field-select option, .gjs-clm-select option, .gjs-sm-select option, .gjs-fields option, .gjs-sm-unit option {
  color: #4e5154;
}
.gjs-clm-sel-id {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
}
.gjs-sm-label {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
}
.gjs-field-menu, .gjs-field {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  background-color: white;
  color: $gray-700;
  align-items: center;
  border: block !important;
}

.gjs-select, .gjs-field-integer, .gjs-radio-items,.gjs-field-text {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  background-color: white;
  color: $gray-700;
  border: 1px solid #ebe9f1;
  align-items: center;
}

.gjs-four-color {
  color: #174ae7 !important;
}

.gjs-sm-label{
  align-items: center;
}

.gjs-caret-icon {
  display: none;
}

.gjs-block__media {
  display: inline-block !important;
  width: 25px;
  height: 25px;
  margin: 0;
}

.gjs-clm-tags #gjs-clm-new {
  color: $gray-700;
  font-weight: 900;
}

#blocks {
  width: 100%;
}

.add-more-element {
  cursor: pointer;
}

.add-new-element {
  cursor: pointer;
}

.add-new-column {
  cursor: pointer;
}

.backdrop {
  background-color: #06103371;
}

//-------------------------------------- FROM MY MEMBER -------------------------------------
// .main_appbar {
//   margin: 0;
//   background: "#fff";
//   color: "#000";
// }

// .secondary-appbar {
//   align-items: 'center';
//   text-transform: 'none';
// }

// .appBarButton {
//   text-transform: 'none';
// }

// .form-left-menu {
//   background: #13343f;
//   padding-top: 16px;
//   padding-bottom: 16px;

//   .menu-title {
//     padding: 13px 40px;
//     background: #0F4A61;
//   }

//   .submenu {
//     padding: 6px 65px;
//   }

//   .submenu:hover {
//     cursor: pointer;
//   }

//   .submenu.active span {
//     color: #F5AB5A;
//   }
// }

$active-layout-color: #0184ff;
$layout-divider: #e2e2e2;
$layout-padding: 18px;

// .layout-container {
//   width: 300px;
//   background: white;
//   height: 100%;
//   padding: $layout-padding;

// }

// .container-padding {
//   padding: 8px;
// }

// .layout-title-container {
//   display: flex;
//   width: 100%;
//   padding-bottom: $layout-padding;
//   border-bottom: 1px solid $layout-divider;
// }

// .layout-title {
//   margin: 0px;
//   color: $active-layout-color;
//   text-align: left;
//   width: inherit;
// }

// .layout-sub-container {
//   cursor: pointer;
//   background: #EFF7FF;
//   padding: 14px;
//   border-radius: 5px;
//   align-items: center;
//   justify-content: center;
//   display: flex;
//   flex-flow: column;

//   .layout-icon {
//     height: 24px
//   }

//   .layout-content {
//     margin-top: 10px;
//     color: $active-layout-color;
//   }

//   .layout-bottom-tag {
//     position: absolute;
//     text-align: center;
//     color: $active-layout-color;
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     background: #EFF7FF;
//     bottom: -8px;
//     right: -8px;
//     font-size: 12px;
//   }

//   img.layout-bottom-tag {
//     width: 10px;
//     height: 10px;
//     bottom: -5px;
//     right: -5px;
//   }
// }

// .home-box .home-1 {
//   padding: 0;
// }

// .list-title {
//   background: rgb(6, 6, 6, 0.4);
// }

// .list-title span {
//   color: white !important;
// }

// .panel__top {
//   padding: 0;
// }

.panel__basic-actions {
  position: initial;
  width: 100%;
}

// .step-one {
//   display: flex;
//   justify-content: center;
//   height: 200px;
//   align-items: center;
// }

// .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
//   padding-right: 0;
//   border: 2px solid rgb(1, 132, 255);
//   border-radius: 50%;
//   height: 50px;
//   width: 50px;
//   color: rgb(1, 132, 255) !important;
// }

// .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
//   height: 50px !important;
//   width: 50px !important;
//   color: gray;
// }

// .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
//   color: rgb(1, 132, 255);
// }

// .templates_card {
//   height: 100%;
// }

// .template_img {
//   display: flex;
//   justify-content: center;
//   height: 60%;
//   align-items: center;
// }

// .truncate-ellipsis {
//   display: -webkit-box;
//   -webkit-line-clamp: 4;
//   -webkit-box-orient: vertical;
//   width: 250px;
//   overflow: hidden;
//   padding: 0.5em;
// }
// .form-submenu {
//   height: 54px;
//   background: white;
//   color: rgba(52, 73, 94, 0.7);
//   &:hover {
//     background-color: rgb(234, 244, 254);
//     cursor: pointer;
//   }
//   .MuiListItemIcon-root {
//     width: 54px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img {
//       width: 28px;
//     }
//   }

//   .action-icon {
//     background: rgba(2, 2, 2, 0.05);
//     height: 100%;
//     margin-right: 1em;
//     color: rgba(46, 80, 105, 0.63);
//   }

//   .check-icon {
//     display: none;
//     color: white;
//   }
// }

.form-submenu.active {
  background: #21d4e1;
  color: white;

  .action-icon {
    color: white;
  }

  .check-icon {
    display: flex;
  }
}

//.form-submenu:hover,
//.form-submenu:focus {
//  background: #EFF7FF;
//
//  span {
//    color: $active-layout-color;
//  }
//
//}

.gjs-editor-cont.Layout {
  .gjs-badge {
    background: #21d4e1;
  }

  .gjs-toolbar {
    background: #21d4e1;
  }

  .gjs-highlighter {
    outline-color: #21d4e1;
  }
}

.gjs-editor-cont.Layout-selected {
  .gjs-toolbar {
    background: #21d4e1 !important;
  }
}

.gjs-editor-cont.Column {
  .gjs-badge {
    background: #5173ff;
  }

  .gjs-toolbar {
    background: #5173ff;
  }

  .gjs-highlighter {
    outline-color: #5173ff;
  }
}

.gjs-editor-cont.Column-selected {
  .gjs-toolbar {
    background: #5173ff !important;
  }
}

.gjs-editor-cont.invalid-selected {
  .gjs-toolbar {
    background: transparent !important;
  }

  .gjs-highlighter {
    outline: none !important;
  }

  .gjs-badge {
    display: none !important;
  }
}

.gjs-editor-cont.Body {
  .gjs-highlighter {
    outline: none;
    //outline-color: gray;
  }

  .gjs-badge {
    background: transparent;
  }
}

.gjs-editor-cont.Body-selected {
  .gjs-toolbar {
    display: none;
  }
}

.gjs-editor-cont.Layout-Hover {
  .gjs-badge {
    background: #21d4e1;
  }

  .gjs-highlighter {
    outline-color: #21d4e1;
  }
}

.gjs-editor-cont.Column-Hover {
  .gjs-badge {
    background: #5173ff;
  }

  .gjs-highlighter {
    outline-color: #5173ff;
  }
}

.gjs-editor-cont.Body-Hover {
  .gjs-highlighter {
    outline: none;
    //outline-color: gray
  }

  .gjs-badge {
    display: none !important;
  }
}

.bgsecondary {
  background: #f1f1f1;
}

.gjs-rte-toolbar {
  background-color: #061033;
}

.gjs-rte-actionbar {
  color: #f1efef !important;
}

// .active {
//   color: rgb(33, 150, 243);
//   background: rgb(234, 244, 254);
// }

// .element {
//   &:hover {
//     color: rgb(33, 150, 243);
//     background: rgb(234, 244, 254);
//   }
// }

// .topbar {
//   background: #474d49;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   .tobbarbutton {
//     background: #828c86;
//     margin: 0.5em;
//     cursor: pointer;
//     &:hover {
//       background: rgb(234, 244, 254);
//     }
//   }
// }
// .error{
//   color: rgb(238, 101, 101);
// }

.Layout-Drag,
.Layout-selected {
  .gjs-placeholder.horizontal,
  .gjs-com-placeholder.horizontal,
  .gjs-placeholder.horizontal {
    border-color: rgba(0, 0, 0, 0) #21d4e1;
  }

  .gjs-placeholder.vertical,
  .gjs-com-placeholder.vertical,
  .gjs-placeholder.vertical {
    border-color: #21d4e1 rgba(0, 0, 0, 0);
  }

  .gjs-placeholder-int,
  .gjs-com-placeholder-int,
  .gjs-placeholder-int {
    background-color: #21d4e1;
  }

  .gjs-layers #gjs-placeholder #gjs-plh-int.gjs-insert {
    background-color: #21d4e1;
  }
}

.Column-Drag,
.Column-selected {
  .gjs-placeholder.horizontal,
  .gjs-com-placeholder.horizontal,
  .gjs-placeholder.horizontal {
    border-color: rgba(0, 0, 0, 0) #5173ff;
  }

  .gjs-placeholder.vertical,
  .gjs-com-placeholder.vertical,
  .gjs-placeholder.vertical {
    border-color: #5173ff rgba(0, 0, 0, 0);
  }

  .gjs-placeholder-int,
  .gjs-com-placeholder-int,
  .gjs-placeholder-int {
    background-color: #5173ff;
  }

  .gjs-layers #gjs-placeholder #gjs-plh-int.gjs-insert {
    background-color: #5173ff;
  }
}

.Form-Drag,
.Form-selected {
  .gjs-placeholder.horizontal,
  .gjs-com-placeholder.horizontal,
  .gjs-placeholder.vertical,
  .gjs-com-placeholder.vertical,
  .gjs-placeholder-int,
  .gjs-com-placeholder-int,
  .gjs-placeholder-int {
    background-color: #f5ab5a;
  }
}

.gjs-layers #gjs-placeholder #gjs-plh-int.gjs-insert {
  background-color: #f5ab5a;
}

.mini-calender .fc-view-harness-active {
  min-height: 400px !important;
}

.mini-calender .fc-scrollgrid-liquid {
  border: 1px solid #ddd !important;
}

.mini-calender .fc-scrollgrid-sync-table {
  width: 440px !important;
  height: 400px !important;
}

.mini-calender .fc-header-toolbar {
  margin-bottom: 0.5em;
  font-size: 12px !important;
}

.image-library {
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.image-library::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.image-library::-webkit-scrollbar-thumb {
  background-color: #949494;
}

.loadingLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 23, 32, 0.6);
  z-index: 999999;
}

.store-add {
  .store-item {
    > .text-sm {
      display: flex;
      justify-content: space-between;
      margin-left: 24px;
      margin-right: 24px;

      .info-icon-tooltip {
        display: none;
        position: relative;

        svg {
          fill: #868aa5;
        }

        .tooltip-content {
          display: none;
        }
      }
    }

    &:hover {
      .info-icon-tooltip {
        display: block;

        svg {
          fill: #868aa5;
        }

        &:hover {
          svg {
            fill: #000;
          }

          .tooltip-content {
            display: block;
            position: absolute;
            max-width: 240px;
            z-index: 5999;
            border-radius: 4px;
            box-shadow: 0 0 12px 0 rgba(19, 23, 32, 0.2);
            background-color: #fff;
            padding: 16px;
            left: -260px;
            top: -200%;

            .tooltip-title {
              font-size: 14px;
              color: rgb(19, 23, 32);
            }

            .tooltip-text {
              font-size: 12px;
              color: rgb(66, 69, 76);
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}

.productHover:hover {
  background-color: #c9f3f6;
}

.productSelected {
  background-color: #3899ec;
}

.cartItem {
  &:hover {
    .close {
      display: flex !important;
    }
  }
}
