
.pillButton{
    background-color: blue;
    border-radius: 16px !important;
  }
  .flatButton{

  }
  .blueButton{

  }
  .lightGreenButton{

  }
  .greenButton{}
  .orangeButton{}
  .orangeDarkButton{}
  .lightRedButton{}
  .lightButton{}
  .lightGreyButton{}
  .blackButton{}
  .blue3dButton{}
  .lightGreen3dButton{}
  .green3dButton{}
  .orange3dButton{}
  .darkOrange3dButton{}


  .button-like-input {
    width: 100% !important;
    text-align: center !important;
    background: none !important;
    box-shadow: 0 0 1px #ccc;
    color: #717171 !important;
    padding: 10px 40px;
    margin-top: 2vh;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    
  }


.gradientNoIcon3dInput {
    width: 100% !important;
    padding: 10px 40px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
    margin-top: 2vh;
}
